* {
  box-sizing: border-box;
  color: #f8f9fa;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .content-discription {
  width: 250vh;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  background-image: url(/Images/pxfuel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.content .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #3d3b40;
}
