/* The Start of my Hero Section */
#hero {
  height: 600px;
  background-color: #ffff;
}
#hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero .text .interest {
  letter-spacing: 0.3em;
}
#hero .text .p-intro {
  width: 530px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
#hero .text a {
  color: #ffff;
  background-color: #455a64;
  transition: 0.2s;
}

#hero .img img {
  height: 550px;
}
#hero .text .click-me:hover {
  background-color: #ffc100;
  color: black;
}
@media (max-width: 768px) {
  #hero {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #hero .img {
    order: 1;
  }
  #hero .img img {
    width: auto;
    height: 300px;
  }
  #hero .text {
    order: 2;
  }
  #hero .text .interest {
    letter-spacing: 0.2em;
  }
  #hero .text .p-intro {
    width: 320px;
    line-height: 1.5;
    letter-spacing: 0;
  }
}
/* End of The Hero Section */

/* The Start of the About Section */
#about {
  height: fit-content;
  background-color: #f0f0f0;
}
#about .about-my-work li {
  margin: 0;
  list-style-type: disc;
  padding: 5px 0;
}
@media (max-width: 765px) {
  #about {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
/* The End of my Info Section */

/* The Start of the Contact Section */
#contact {
  height: 600px;
}
#contact .img img {
  height: 550px;
}
#contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .contact-info .contact-text p {
  width: 550px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
#contact .contact-links {
  display: flex;
  gap: 50px;
}
#contact .contact-links a:hover svg {
  fill: #263238;
}
@media (max-width: 768px) {
  #contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #contact .contact-info .contact-text p {
    width: 320px;
    line-height: 1.3;
    letter-spacing: 0.05em;
  }
  #contact .img img {
    height: auto;
  }
}
